@model UpsaMe_API.Models.CalendlyEvent

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CalendlyEvent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventUri" class="control-label"></label>
                <input asp-for="EventUri" class="form-control" />
                <span asp-validation-for="EventUri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InviteeUri" class="control-label"></label>
                <input asp-for="InviteeUri" class="form-control" />
                <span asp-validation-for="InviteeUri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartUtc" class="control-label"></label>
                <input asp-for="StartUtc" class="form-control" />
                <span asp-validation-for="StartUtc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndUtc" class="control-label"></label>
                <input asp-for="EndUtc" class="form-control" />
                <span asp-validation-for="EndUtc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RawJson" class="control-label"></label>
                <input asp-for="RawJson" class="form-control" />
                <span asp-validation-for="RawJson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

